[id="R2098064936"] .page-content {
	align-items: flex-start;
	padding-left: 2.3rem;
	padding-bottom: 1rem;
}

[id="R2098064936"].page {
	justify-content: flex-start;
	min-height: var(--viewport-height);
}

[id="R2098064936"] .page-layout {
	max-width: 39%;
}
